* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", "Helvetica", "sans-serif";
  font-size: 0;
  width: 100%;
  text-align: left;
}

footer {
  width: 100%;
  height: 50px;
}

button {
  text-decoration: none;
}

#app-container {
  font-size: medium;
  position: relative;
}

.header {
  font-size: medium;
  display: inline-block;
}

.header img {
  height: 50px;
}

.navbuts {
  height: 50px;
  width: 40%;
  float: left;
}

.navtab {
  padding: 10px;
  background-color: #ff9;
  float: left;
}

.navsel {
  padding: 10px;
  background-color: #6cf;
  width: auto;
  float: left;
}

.content_main {
  width: 70%;
}

.sub_content {
  display: inline-block;
  padding-bottom: 25px;
}

.mailing {
  position: fixed;
  right: 15px;
  bottom: 60px;
  background-color: #3a539b;
  color: #fff;
  padding: 25px;
}

.upcoming {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20%;
}

.upcoming h4 {
  color: gray;
  font-size: small;
  font-weight: 300;
}

.contact {
  width: 100%;
  height: 75px;
  padding-top: 10px;
  border-top: 1px solid black;
  text-align: center;
  vertical-align: middle;
}

.con_info {
  max-height: 100%;
  width: 25%;
}

.contact i {
  color: red;
}
