* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", "Helvetica", "sans-serif";
  font-size: 0;
  width: 80%;
  text-align: left;
}

footer {
  width: 100%;
}

button {
  text-decoration: none;
}

#app-container {
  font-size: medium;
  position: relative;
}

.content_main {
  width: 75%;
}

.mailing {
  position: fixed;
  right: 10px;
  bottom: 10px;
  background-color: #3a539b;
  color: #fff;
  padding: 25px;
}

.upcoming {
  position: absolute;
  right: 10px;
  top: 10px;
}

.upcoming h4 {
  color: gray;
  font-size: small;
  font-weight: 300;
}

.contact {
  display: inline-block;
  height: 50px;
  border-top: 1px solid black;
}

.con_info {
  max-height: 100%;
  width: 25%;
}

.contact i {
  color: red;
}
